[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
triangle = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
nose = "*"

[requires]
python_version = "3.7"
